@charset "UTF-8";
/* RESET All ELEMENT */
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0; }

a {
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  padding: 0;
  margin: 0;
  border: 0; }

/* SPECIAL RESET */
ol, ul {
  list-style: none; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

table {
  border-collapse: separate;
  border-spacing: 0; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

/* CLEAE FLOAT METHOD1 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  display: inline-block; }

/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* CLEAE FLOAT METHOD2 */
.clear {
  width: 100%;
  clear: both;
  line-height: 0;
  height: 0;
  overflow: hidden;
  font-size: 1px;
  display: block; }

/* ===Base=== */
body {
  font: normal 12px/18px "微軟正黑體",Arial; }

input, select, textarea {
  font: normal 12px/13px "微軟正黑體",Arial;
  padding: 0;
  margin: 0;
  vertical-align: middle; }

a {
  color: #012070;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

img {
  vertical-align: top; }

.dot {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1px;
  height: 1px; }

.btn1 {
  display: block;
  width: 156px;
  height: 53px;
  background: url(../IMAGES/BTN_BTN1.HTM) 0 0 no-repeat; }
  .btn1:hover {
    background-position: 0 bottom; }

/* ===Structural=== */
body {
  background: #f3f3f3;
  -moz-transition: 0.3s 0.5s;
  -o-transition: 0.3s 0.5s;
  -webkit-transition: 0.3s;
  -webkit-transition-delay: 0.5s;
  transition: 0.3s 0.5s; }

body a.brick {
  color: #000; }

.container {
  position: relative; }

.container .brick {
  position: absolute;
  left: 0;
  top: 0;
  color: #f3f3f3; }

.wrap1 {
  font-size: 14px;
  width: 990px;
  margin: 0 auto; }

.basenavBg {
  position: relative;
  height: 35px;
  width: 100%;
  background: #583926;
  z-index: 2; }
  .basenavBg .wrap1 {
    position: relative; }

.basenav {
  position: absolute;
  height: 35px;
  top: 0;
  right: 0; }
  .basenav .dec1, .basenav a {
    display: block;
    float: left; }
  .basenav .dec1 {
    width: 35px;
    height: 34px;
    margin: 0 8px;
    background: url(../IMAGES/DEC_VER1.GIF) 0 0 no-repeat; }
  .basenav a {
    color: #fff;
    font-size: 13px;
    line-height: 35px;
    padding: 0 0 0 20px; }
  .basenav .basenavI1 {
    background: url(../IMAGES/ICON_HOME.GIF) 0 center no-repeat; }
  .basenav .basenavI2 {
    background: url(../IMAGES/ICON_NEWSPAPER.GIF) 0 center no-repeat; }
  .basenav .basenavI3 {
    background: url(../IMAGES/ICON_SITEMAP.GIF) 0 center no-repeat; }
  .basenav .basenavI4 {
    background: url(../IMAGES/ICON_FB2.GIF) 0 center no-repeat; }

.ipt1, .ipt1 input {
  vertical-align: top; }

.ipt1 {
  display: inline-block;
  width: 190px;
  height: 17px;
  padding: 3px 0 3px 10px;
  margin-top: 6px;
  background: url(../IMAGES/BG_IPT1.GIF) 0 0 no-repeat; }
  .ipt1 input {
    color: #cacaca;
    width: 160px;
    height: 17px;
    font-size: 13px;
    border: none;
    background: none; }
  .ipt1 input.scopeBtn {
    cursor: pointer;
    width: 30px;
    height: 17px;
    background: url(../IMAGES/ICON_SCOPE.GIF) 8px center no-repeat; }

.headerBg {
  position: relative;
  width: 100%;
  background: #fff;
  z-index: 2; }

.header {
  position: relative;
  height: 70px; }
  .header .logo {
    display: block;
    padding: 11.5px 0; }

.nav {
  position: absolute;
  right: 0;
  top: 0; }
  .nav .brick {
    position: absolute;
    padding: 0;
    height: auto;
    line-height: inherit;
    border: none;
    color: #fff; }
  .nav a.brick:hover {
    border: none; }
  .nav li {
    float: left;
    position: relative; }
    .nav li.on a {
      border-bottom: 3px solid #e7350d; }
    .nav li.on div a {
      border: none; }
  .nav a {
    display: block;
    color: #212121;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    padding: 23px 8px 20px 34px;
    border-bottom: 3px solid #fff;
    background-position: 2px center;
    background-repeat: no-repeat; }
    .nav a:hover {
      text-decoration: none;
      border-bottom: 3px solid #e7350d; }

.subnav {
  display: none;
  position: absolute;
  right: 50%;
  top: 70px;
  padding: 10px 0;
  margin: 0 -72.5px 0 0;
  background: #212121; }
  .subnav a {
    display: block;
    color: #fff;
    padding: 10px 15px;
    line-height: 18px;
    height: auto;
    width: 115px;
    text-align: center;
    border: none; }
    .subnav a:hover {
      color: #ff5a00;
      border: none; }

.subMenu {
  padding: 0 0 0 270px;
  width: 720px;
  margin: 0 auto; }
  .subMenu ul {
    padding-bottom: 10px; }
  .subMenu li {
    display: inline-block;
    margin: 0 7px 0 0;
    padding: 0 10px 0 0;
    background: url(../IMAGES/DEC_VER3.GIF) right center no-repeat; }

.footerBg {
  background: #212121 url(../IMAGES/BG_FT.GIF) center 0 no-repeat;
  height: 90px; }

.footer {
  position: relative;
  height: 60px;
  font-size: 13px;
  line-height: 22px;
  color: #9c9c9c;
  padding: 15px 0 0 290px; }
  .footer a {
    position: absolute;
    left: 66px;
    top: 31px; }
  .footer ul {
    width: 100%;
    overflow: hidden; }
  .footer li {
    float: left;
    display: block;
    margin: 0 30px 0 0;
    padding: 0 0 0 10px;
    background: url(../IMAGES/ICON_ARW2.GIF) 0 center no-repeat; }

/* index */
html, body, .wrapper {
  height: 100%; }

body > .wrapper {
  height: auto;
  min-height: 100%; }

.wrapperC {
  padding-bottom: 90px; }

.footerBg {
  margin-top: -90px;
  position: relative; }

#idxBody .footerBg {
  margin-top: 0; }

html, body#idxBody, #idxBody .wrapper {
  height: 100%; }

#idxBody .wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative; }

.scroll {
  padding-top: 105px; }

.menu {
  position: fixed;
  width: 98%;
  top: 0;
  left: 0;
  z-index: 10; }

#idxBody .dot {
  *z-index: 2; }

.dotNav {
  position: absolute;
  top: 50%;
  left: 500px;
  z-index: 10; }
  .dotNav a {
    display: block;
    width: 9px;
    height: 9px;
    margin-bottom: 15px;
    background: url(../IMAGES/ICON_DOT1.PNG) 0 bottom no-repeat; }
    .dotNav a.on, .dotNav a:hover {
      background-position: 0 0; }

.line1BgWrap {
  background: #0f9596; }

.line1Bg {
  position: relative;
  min-height: 630px;
  background: url(../IMAGES/BG_LINE1.PNG) center center no-repeat; }

.title1, .title2, .title3, .frame1, .frame2, .frame3, .frame4 {
  position: absolute;
  font-weight: 700; }

.title1 {
  font-size: 38px;
  line-height: 38px;
  color: #fff;
  letter-spacing: 2px;
  font-weight: normal; }

.title2 {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1px;
  color: #fff; }

.title3 {
  font-size: 20px;
  line-height: 20px;
  color: #00494a;
  font-weight: 700; }

.frame1 {
  width: 473px;
  height: 294px;
  background: url(../IMAGES/BG_FRAME1.PNG) 0 0 no-repeat; }

.sn1-1, .sn1-2, .sn1-3, .sn1-4, .sn2-1, .sn2-2, .sn2-4, .sn3-1, .sn3-2, .sn3-4, .sn4-1, .sn4-2, .sn4-4, .sn5-1, .sn5-2, .sn5-3, .sn5-4 {
  opacity: 0;
  -moz-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  -webkit-transform: translate(0px, 50px);
  transform: translate(0px, 50px); }
  .sn1-1.on, .sn1-2.on, .sn1-3.on, .sn1-4.on, .sn2-1.on, .sn2-2.on, .sn2-4.on, .sn3-1.on, .sn3-2.on, .sn3-4.on, .sn4-1.on, .sn4-2.on, .sn4-4.on, .sn5-1.on, .sn5-2.on, .sn5-3.on, .sn5-4.on {
    opacity: 1;
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }

.sn2-3, .sn2-5, .sn3-3, .sn3-5, .sn4-3, .sn4-5 {
  opacity: 0;
  -moz-transform: translate(-50px, 0px);
  -ms-transform: translate(-50px, 0px);
  -webkit-transform: translate(-50px, 0px);
  transform: translate(-50px, 0px); }
  .sn2-3.on, .sn2-5.on, .sn3-3.on, .sn3-5.on, .sn4-3.on, .sn4-5.on {
    opacity: 1;
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }

.sn1-1, .sn1-2, .sn1-3, .sn1-4, .sn2-1, .sn2-2, .sn3-1, .sn3-2, .sn4-1, .sn4-2, .sn4-4, .sn5-1, .sn5-2 {
  -moz-transition: 1s 0s;
  -o-transition: 1s 0s;
  -webkit-transition: 1s;
  -webkit-transition-delay: 0s;
  transition: 1s 0s; }

.sn2-4, .sn3-4, .sn4-3, .sn4-5, .sn5-3, .sn5-4 {
  -moz-transition: 1s 0.5s;
  -o-transition: 1s 0.5s;
  -webkit-transition: 1s;
  -webkit-transition-delay: 0.5s;
  transition: 1s 0.5s; }

.sn2-3, .sn2-5, .sn3-3, .sn3-5 {
  -moz-transition: 1s 1s;
  -o-transition: 1s 1s;
  -webkit-transition: 1s;
  -webkit-transition-delay: 1s;
  transition: 1s 1s; }

.sn1-1-1 {
  left: -89px;
  top: -282px;
  width: 257px; }

.sn1-1-2 {
  left: 38px;
  top: -234px;
  width: 300px; }

.sn1-2 {
  left: -10px;
  top: -177px;
  width: 420px; }

.sn1-3 {
  left: 300px;
  top: -137px;
  width: 160px;
  color: #00494a; }

.sn1-4 {
  left: -42px;
  top: -125px; }
  .sn1-4 .btnbar1 {
    background: url(../IMAGES/DEC_HOR1.GIF) center 0 no-repeat; }

.lt1 {
  height: 205px;
  padding: 30px 30px 0 30px; }
  .lt1 li {
    margin-bottom: 5px; }
  .lt1 i {
    color: #56b9ba;
    font-size: 12px;
    font-style: normal; }
  .lt1 a {
    display: block;
    color: #fff;
    font-size: 14px;
    line-height: 14px; }

.btnbar1 {
  text-align: right;
  padding: 10px 23px; }

.btn1, .btn2, .btn3, .btn4, .btn5, .btn6, .btn7 {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-size: 14px;
  text-align: left; }
  .btn1 img, .btn2 img, .btn3 img, .btn4 img, .btn5 img, .btn6 img, .btn7 img {
    vertical-align: middle;
    margin: -2px 0 0 10px; }

.btn1, .btn2, .btn3, .btn4, .btn5 {
  width: 77px;
  padding: 0 0 0 23px; }
  .btn1:hover, .btn2:hover, .btn3:hover, .btn4:hover, .btn5:hover {
    text-decoration: none; }

.btn6 {
  width: 111px;
  padding: 0 0 0 13px; }
  .btn6:hover {
    text-decoration: none; }

.btn7 {
  font-size: 13px;
  line-height: 25px;
  width: 64px;
  padding: 0 10px 0 15px; }
  .btn7:hover {
    text-decoration: none; }

.btn1 {
  background: url(../IMAGES/BG_BTN1.PNG) 0 0 no-repeat; }

.btn2 {
  background: url(../IMAGES/BG_BTN2.PNG) 0 0 no-repeat; }

.btn3 {
  background: url(../IMAGES/BG_BTN3.PNG) 0 0 no-repeat; }

.btn4 {
  background: url(../IMAGES/BG_BTN4.PNG) 0 0 no-repeat; }

.btn5 {
  background: url(../IMAGES/BG_BTN5.PNG) 0 0 no-repeat; }

.btn6 {
  background: url(../IMAGES/BG_BTN6.PNG) 0 0 no-repeat; }

.btn7 {
  background: url(../IMAGES/BG_BTN7.PNG) 0 0 no-repeat; }

.line2BgWrap {
  background: #95c660 url(../IMAGES/BG_LINE2BGWRAP.GIF) 0 0 repeat-x; }

.sn2, .sn3, .sn4, .sn5 {
  position: relative; }

.sn2 {
  height: 630px;
  background: url(../IMAGES/BG_LINE2_1.PNG) center 0 no-repeat; }

.sn3 {
  height: 630px;
  background: url(../IMAGES/BG_LINE2_2.PNG) center 0 no-repeat; }

.sn4 {
  height: 630px;
  background: url(../IMAGES/BG_LINE2_3.PNG) center 0 no-repeat; }

.sn5 {
  height: 630px;
  background: url(../IMAGES/BG_LINE2_4.PNG) center 0 no-repeat; }

.sn6 {
  min-height: 1130px;
  height: auto !important;
  height: 1130px;
  background: url(../IMAGES/BG_LINE2_5.PNG) center 0 no-repeat; }

.sn2-1 {
  left: -5px;
  top: -237px;
  width: 470px; }

.sn2-2 {
  left: 154px;
  top: -181px;
  width: 230px; }

.sn2-3 {
  left: -390px;
  top: 31px;
  width: 330px;
  color: #715500; }

.sn2-4 {
  left: -247px;
  top: -125px; }

.sn2-5 {
  left: -437px;
  top: 59px; }

.sn2-5 .btnbar2 {
  background: url(../IMAGES/DEC_HOR2.GIF) center 0 no-repeat; }

.frame2 {
  width: 533px;
  height: 142px;
  background: url(../IMAGES/BG_FRAME2.PNG) 0 0 no-repeat; }
  .frame2.sn3-4 a {
    color: #892a00;
    background: url(../IMAGES/ICON_ARW5.PNG) 0 center no-repeat; }
  .frame2.sn4-4 a {
    color: #923022;
    background: url(../IMAGES/ICON_ARW6.PNG) 0 center no-repeat; }

.lt2 {
  padding: 28px 30px 30px; }
  .lt2 a {
    display: block;
    color: #715500;
    font-size: 14px;
    padding: 5px 0 5px 20px;
    background: url(../IMAGES/ICON_ARW4.PNG) 0 center no-repeat; }

.frame3 {
  width: 482px;
  height: 191px;
  padding: 13px 15px 13px 55px;
  background: url(../IMAGES/BG_FRAME3.PNG) 0 0 no-repeat; }
  .frame3.sn3-5 {
    background: url(../IMAGES/BG_FRAME5.PNG) 0 0 no-repeat; }
  .frame3.sn4-5 {
    background: url(../IMAGES/BG_FRAME7.PNG) 0 0 no-repeat; }

.frame3T {
  position: relative;
  color: #dfb053;
  font-weight: 700;
  padding: 10px 0;
  width: 98%; }
  .frame3T b {
    display: inline-block;
    font-size: 15px;
    padding: 0 0 0 30px;
    background: url(../IMAGES/BG_DOT1.PNG) 0 center no-repeat; }
    .frame3T b span {
      color: #fff;
      display: inline-block;
      padding: 0 25px 0 0;
      background: url(../IMAGES/BG_DOT1.PNG) right center no-repeat; }
  .frame3T i {
    color: #fff;
    position: absolute;
    right: 0;
    top: 10px;
    font-style: normal;
    font-size: 13px; }

.lt3 {
  width: 100%;
  height: 125px;
  overflow: hidden;
  padding: 10px 0;
  background: url(../IMAGES/DEC_HOR2.GIF) 0 0 no-repeat; }
  .lt3 ul {
    float: left;
    width: 50%; }
    .lt3 ul div {
      width: 200%; }
  .lt3 li {
    width: 100%;
    height: 25px;
    margin-bottom: 2px;
    color: #fff;
    overflow: hidden; }
  .lt3 a {
    display: block;
    height: 17px;
    padding: 5px 5px 5px 25px;
    font-size: 14px;
    color: #fff;
    background: url(../IMAGES/ICON_MSG.PNG) 0 center no-repeat; }
  .lt3 i {
    display: block;
    float: left;
    width: 47px;
    text-align: right;
    font-style: normal;
    padding: 5px 0; }

.btnbar2 {
  text-align: center;
  padding: 15px 0 0; }

.sn3-5 .lt3 {
  background: url(../IMAGES/DEC_HOR3.GIF) center 0 no-repeat; }

.sn3-5 .btnbar2 {
  background: url(../IMAGES/DEC_HOR3.GIF) center 0 no-repeat; }

.sn4-5 .lt3 {
  background: url(../IMAGES/DEC_HOR4.GIF) center 0 no-repeat; }

.sn4-5 .btnbar2 {
  background: url(../IMAGES/DEC_HOR4.GIF) center 0 no-repeat; }

.sn3-1 {
  left: -371px;
  top: -238px;
  width: 815px; }

.sn3-2 {
  left: -321px;
  top: -181px;
  width: 500px; }

.sn3-3 {
  left: -70px;
  top: 27px;
  width: 350px;
  color: #892a00; }

.sn3-4 {
  left: -85px;
  top: -125px; }

.sn3-5 {
  left: -115px;
  top: 53px; }

.sn4-1-1 {
  left: -408px;
  top: -240px;
  width: 680px; }

.sn4-1-2 {
  left: -328px;
  top: -197px;
  width: 488px; }

.sn4-2-1 {
  left: -330px;
  top: -146px;
  width: 380px; }

.sn4-2-2 {
  left: -286px;
  top: -124px;
  width: 400px; }

.sn4-3 {
  left: -70px;
  top: 27px;
  width: 550px;
  color: #923022;
  font-size: 18px; }

.sn4-4 {
  left: -390px;
  top: -113px; }

.sn4-5 {
  left: -115px;
  top: 55px; }

.sn5-1 {
  width: 435px;
  left: -150px;
  top: -209px;
  color: #366800;
  }

.sn5-1 a {
  color: #fff; }

.sn5-2 {
  left: -150px;
  top: -166px;
  width: 560px;
  font-size: 15px;
  line-height: 20px; }

.sn5-3 {
  width: 450px;
  left: -63px;
  top: -19px;
  color: #366800; }

.sn5-4 {
  left: -95px;
  top: -17px; }

.sn5-5 {
  position: absolute;
  width: 236px;
  height: 215px;
  left: -412px;
  top: -254px;
  padding: 21px 0 0 0;
  text-align: center;
  background: url(../IMAGES/BG_FRAME17.PNG) 0 0 no-repeat; }

.frame4 {
  width: 511px;
  height: 308px;
  background: url(../IMAGES/BG_FRAME8.PNG) 0 0 no-repeat; }

.yb {
  color: #fff;
  width: 373px;
  height: 210px;
  margin: 0 auto;
  padding-top: 49px; }

.liveTxt {
  position: absolute;
  right: 33px;
  top: 27px; }

.topBtn {
  position: fixed;
  display: block;
  right: 30px;
  bottom: 0px;
  z-index: 1000; }

.sn6 {
  padding-top: 82px; }

.sn6 .frame5 {
  margin: 0 auto; }

.frame5 {
  width: 924px;
  height: 483px;
  overflow: hidden;
  background: url(../IMAGES/BG_FRAME9.PNG) 0 0 no-repeat; }

.frame5L, .frame5R {
  float: left; }

.frame5L {
  width: 340px;
  padding: 17px 0 0 17px; }
  .frame5L .pic {
    position: relative;
    width: 100%;
    height: 255px; }
    .frame5L .pic p {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 310px;
      padding: 10px 15px;
      color: #fff;
      font-size: 16px;
      line-height: 23px;
      background: url(../IMAGES/BG_MASK1.PNG) 0 0 repeat; }
      .frame5L .pic p b {
        position: absolute;
        top: -26px;
        left: 0;
        display: inline-block;
        height: 25px;
        line-height: 25px;
        padding: 0 24px 0 0;
        font-size: 14px;
        background: url(../IMAGES/BG_LABEL1.PNG) right 0 no-repeat; }
        .frame5L .pic p b span {
          display: inline-block;
          background: #366800;
          padding: 0 15px; }
    .frame5L .pic img {
      width: 100%;
      height: 255px; }
  .frame5L .note {
    font-size: 14px;
    color: #212121;
    line-height: 24px;
    padding: 15px;
    height: 106px;
    overflow: hidden; }
  .frame5L .btnbar1 {
    padding-right: 15px; }

.frame5R {
  color: #212121;
  width: 512px;
  padding: 20px 35px 20px 20px; }
  .frame5R .btnbar1 {
    padding: 0; }

.frame5RT {
  position: relative;
  font-size: 15px;
  padding: 10px 0; }

.func1 {
  position: absolute;
  right: 0;
  top: 8px; }
  .func1 a {
    margin-left: 5px;
    opacity: 0.5;
    pointer-events: none; }
    .func1 a.on {
      opacity: 1;
      pointer-events: auto; }

.lt4Wrap {
  padding-top: 7px;
  border-top: 1px solid #efefef;
  height: 352px;
  overflow: hidden;
  position: relative;
  top: 0px; }

.lt4 {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -moz-transition: 1s;
  -o-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s; }

.lt4I .pic, .lt4I .detail {
  float: left; }

.lt4I {
  width: 100%;
  height: 79px;
  margin: 0 0 10px 0;
  overflow: hidden; }
  .lt4I .pic {
    position: relative;
    width: 78px;
    height: 78px;
    margin-right: 10px; }
    .lt4I .pic span {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 78px;
      height: 78px;
      background: url(../IMAGES/BG_MASK2.PNG) 0 0 no-repeat; }
    .lt4I .pic img {
      width: 78px;
      height: 78px; }
  .lt4I .detail {
    position: relative;
    width: 424px;
    font-size: 13px;
    padding-top: 30px;
    line-height: 20px; }
    .lt4I .detail b {
      position: absolute;
      left: 0;
      top: 10px;
      font-size: 14px;
      color: #00888f; }
    .lt4I .detail a {
      position: absolute;
      right: 0;
      top: 10px;
      cursor: pointer;
      padding: 0 20px;
      background: url(../IMAGES/ICON_HEARTGRAY.GIF) 0 center no-repeat; }
      .lt4I .detail a.on, .lt4I .detail a:hover {
        text-decoration: none;
        background: url(../IMAGES/ICON_HEARTRED.GIF) 0 center no-repeat; }

.btnbar3 {
  text-align: center;
  padding: 75px 0 20px 0; }
  .btnbar3 a {
    display: inline-block;
    padding: 0 0 0 25px;
    margin: 0 15px;
    color: #484848;
    font-size: 13px;
    font-weight: 700;
    background: url(../IMAGES/ICON_ARW1.PNG) 0 center no-repeat; }

/* news */
.kv {
  height: 230px; }

.kvTxt {
  position: relative;
  height: 230px;
  width: 990px;
  margin: 0 auto; }
  .kvTxt h1 {
    display: block;
    position: absolute;
    min-width: 290px;
    height: 50px;
    line-height: 50px;
    letter-spacing: -2px;
    font-size: 35px;
    bottom: 35px;
    right: 0;
    color: #484848;
    text-align: center;
    background: url(../IMAGES/DEC_HOR6.GIF) center bottom no-repeat; }

.bread {
  height: 40px;
  line-height: 40px;
  color: #9c9c9c;
  font-weight: 700;
  font-size: 14px;
  width: 990px;
  margin: 0 auto;
  padding: 0 0 27px 0; }

.bread a {
  color: #202020;
  padding: 0 7px 0 5px;
  background: url(../IMAGES/ICON_ARW1.HTM) left center no-repeat; }

.bread a.on {
  color: #979797; }

.bread a:hover {
  color: #e7350d;
  text-decoration: none; }

a.breadHome {
  padding-left: 18px;
  background: url(../IMAGES/ICON_HOME2.GIF) left center no-repeat; }

.lt5 {
  width: 990px;
  margin: 0 auto; }

.lt5 a {
  display: block;
  font-size: 15px;
  height: 53px;
  background: #f9f9f9;
  border-bottom: 1px solid #f3f3f3; }

.lt5 a:hover {
  background: #f8f8f8;
  text-decoration: none;
  cursor: pointer; }

.lt5 a:hover p {
  color: #e7350d; }

.lt5 a:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.lt5 a {
  display: inline-block; }

* html .lt5 a {
  height: 1%; }

.lt5 a {
  display: block; }

.lt5 b {
  display: block;
  width: 123px;
  height: 54px;
  line-height: 54px;
  color: #fff;
  padding-right: 20px;
  text-align: center;
  background: url(../IMAGES/BG_LABEL2.PNG) left top no-repeat; }

.lt5 i {
  font-style: normal;
  width: 107px;
  text-align: center; }

.lt5 b, .lt5 i, .lt5 p {
  float: left;
  display: block;
  font-weight: 700;
  height: 53px;
  line-height: 53px; }

.lt5 i {
  color: #979797;
  font-size: 12px;
  text-shadow: 0 0 0 #979797; }

.lt5 p {
  color: #000;
  width: 700px;
  padding: 0 20px;
  overflow: hidden; }

.pagebar {
  vertical-align: middle;
  text-align: center;
  padding: 40px 0 0 0; }

.pagebar a, .pageTxt {
  vertical-align: middle;
  display: inline-block;
  font-size: 12px;
  color: #484848;
  background: #fff;
  border: 1px solid #dadada;
  border-right: none;
  padding: 5px; }

.pagebar a {
  min-width: 20px;
  width: auto !important;
  width: 20px;
  font-weight: 700; }

.pagebar a:hover, .pagebar a.ON {
  background-color: #e7350d;
  color: #fff;
  text-decoration: none; }

.pageTxt {
  padding: 3px 10px 2px 10px;
  padding: 3px 10px 4px 10px\0; }

.pageTxt input {
  height: 13px;
  line-height: 13px;
  width: 20px;
  padding: 3px; }

a.firstP, a.prevP {
  padding: 5px 10px 5px 25px;
  font-weight: normal; }

a.firstP {
  border-radius: 3px 0 0 3px;
  background: #fff url(../IMAGES/ICON_FISTP.PNG) 10px 9px no-repeat; }

a.prevP {
  background: #fff url(../IMAGES/ICON_PREVP.PNG) 10px 9px no-repeat; }

a.nextP, a.lastP {
  padding: 5px 23px 5px 10px;
  font-weight: normal; }

a.nextP {
  background: #fff url(../IMAGES/ICON_NEXTP.PNG) 52px 9px no-repeat; }

a.lastP {
  border-radius: 0 3px 3px 0;
  border-right: 1px solid #dadada;
  background: #fff url(../IMAGES/ICON_LASTP.PNG) 52px 9px no-repeat; }

.txt1 {
  color: #9c9c9c; }

.rss {
  width: 990px;
  margin: 0 auto;
  position: relative; }
  .rss a {
    position: absolute;
    right: 0;
    top: -58px; }

/* news_detail */
.twoColCon {
  width: 990px;
  margin: 0 auto;
  overflow: hidden; }

.conL, .conR {
  float: left; }

.conL {
  width: 710px;
  margin-right: 40px; }

.conR {
  width: 240px; }

.func2 {
  width: 100%;
  overflow: hidden;
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  vertical-align: top;
  padding: 10px 0;
  margin-bottom: 40px; }

.func2L {
  float: left; }

.func2R {
  float: right; }
  .func2R a {
    margin: 0 2px 0 0; }

.dec2 {
  display: inline-block;
  width: 20px;
  height: 25px;
  background: url(../IMAGES/DEC_VER2.GIF) center center no-repeat; }

.categorize {
  padding: 0 0 10px 0;
  font-size: 12px;
  line-height: 24px;
  color: #606060;
  letter-spacing: 1px; }
  .categorize b {
    display: inline-block;
    height: 24px;
    color: #fff;
    padding: 0 17px 0 10px;
    margin-right: 10px;
    background: #0f9596 url(../IMAGES/BG_LABEL2.GIF) right 0 no-repeat; }

.title4, .para1 h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1px;
  padding: 0 0 20px 0; }

.para1 h1 {
  width: 710px;
  margin: 0 auto; }

.para1 {
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 1px;
  padding-bottom: 40px; }
  .para1 ol {
    list-style: decimal; }
  .para1 ul {
    list-style: disc; }
  .para1 ol, .para1 ul {
    padding: 0 0 0 30px; }
  .para1 img {
    margin: 2px 12px;
    border: 8px solid #f8f8f8;
    -moz-box-shadow: #ccc 0 0 10px;
    -webkit-box-shadow: #ccc 0 0 10px;
    box-shadow: #ccc 0 0 10px; }

.frame11 .func2 {
  width: 86%;
  border: none;
  margin: -40px auto 10px auto; }

.title5 {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 5px 0; }

.link1 {
  border-top: 1px solid #e9e9e9;
  padding-bottom: 40px; }
  .link1 a {
    display: block;
    font-size: 13px;
    color: #e7350d;
    border-bottom: 1px solid #e9e9e9;
    padding: 10px 20px;
    word-wrap: break-word;
    word-break: break-all;
    background: url(../IMAGES/ICON_ARW8.GIF) 0 center no-repeat; }

.lt6 {
  border-top: 1px solid #e9e9e9;
  padding-bottom: 40px; }
  .lt6 li {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #e9e9e9; }
  .lt6 p {
    float: left;
    width: 490px;
    padding: 10px 20px;
    background: url(../IMAGES/ICON_ARW8.GIF) 0 center no-repeat; }
  .lt6 i {
    display: block;
    float: left;
    width: 80px;
    padding: 10px 20px 10px 0;
    font-style: normal;
    color: #9c9c9c;
    font-weight: 700;
    text-align: right; }
  .lt6 a {
    display: inline-block;
    margin-top: 7px;
    vertical-align: top; }
  .lt6 a.dl {
    width: 80px;
    height: 25px;
    text-indent: -9999px;
    background: url(../IMAGES/BTN_DOWNLOAD.GIF) 0 0 no-repeat; }

.conRT1 {
  font-size: 18px;
  line-height: 24px;
  border-bottom: 1px solid #484848;
  padding: 0 0 5px 0;
  text-align: right; }
  .conRT1 b {
    display: inline-block;
    width: 92px;
    text-align: left; }
  .conRT1 a {
    margin-left: 4px; }

.lt7 {
  font-size: 13px; }
  .lt7 li {
    background: url(../IMAGES/DEC_HOR5.GIF) 0 bottom repeat-x; }
  .lt7 a {
    display: block;
    color: #000;
    padding: 10px 0; }
    .lt7 a:hover, .lt7 a.on {
      color: #fff;
      padding: 10px 15px;
      text-decoration: none;
      background: #212121 url(../IMAGES/ICON_ARW7.GIF) 0 12px no-repeat; }
      .lt7 a:hover b, .lt7 a.on b {
        color: #fff; }
  .lt7 b {
    display: block;
    font-size: 14px;
    color: #e7350d;
    padding-bottom: 5px; }
  .lt7 span {
    display: block;
    height: 53px;
    overflow: hidden; }

/* international */
.func3 {
  width: 990px;
  margin: 0 auto;
  padding: 15px 0;
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2; }

.sort {
  color: #484848;
  line-height: 25px;
  overflow: hidden; }
  .sort .sortL {
    float: left;
    width: 275px; }
  .sort .sortR {
    float: left;
    width: 715px; }
    .sort .sortR a {
      margin-bottom: 5px; }

.sort a, .sort a i, .sort a b {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  vertical-align: top;
  *vertical-align: middle; }

.sort a {
  font-family: '新細明體';
  text-decoration: none;
  color: #fff;
  padding: 0 0 0 4px;
  margin: 0 3px;
  background: url(../IMAGES/BG_LABEL4_2.GIF) 0 0 no-repeat; }
  .sort a.blackLabel {
    color: #9b9b9b;
    background: url(../IMAGES/BG_LABEL3.PNG) 0 0 no-repeat; }
    .sort a.blackLabel i {
      background: url(../IMAGES/BG_LABEL3.PNG) right 0 no-repeat; }
      .sort a.blackLabel i b {
        padding: 0 9px;
        background: url(../IMAGES/BG_LABEL3.PNG) 0 0 repeat-x; }

.sort i {
  font-style: normal;
  padding: 0 4px 0 0;
  background: url(../IMAGES/BG_LABEL4_2.GIF) right 0 no-repeat; }

.sort b {
  cursor: pointer;
  text-align: center;
  font-weight: normal;
  min-width: 53px;
  width: auto !important;
  width: 53px;
  padding: 0 5px;
  background: url(../IMAGES/BG_LABEL4_2.GIF) -5px 0 repeat-x; }

.sort a.on, .sort a.on i, .sort a.on b {
  background-image: url(../IMAGES/BG_LABEL5_2.GIF); }

.sort a.blackLabel:hover, .sort a.blackLabel:hover i, .sort a.blackLabel:hover b {
  background-image: url(../IMAGES/BG_LABEL3.PNG); }

.sort span {
  vertical-align: top; }

.txt2 {
  color: #fff; }

.lt8 {
  width: 1002px;
  margin: 0 auto;
  padding: 18px 0 0 0; }
  .lt8 .lt8I {
    position: relative;
    width: 952px;
    height: 147px;
    padding: 30px 25px;
    margin-top: 12px;
    background: url(../IMAGES/BG_FRAME10.PNG) 0 0 no-repeat; }
    .lt8 .lt8I b {
      display: block;
      font-size: 17px;
      line-height: 22px;
      width: 100%;
      height: 43px;
      overflow: hidden;
      margin: 0 0 5px 0; }
      .lt8 .lt8I b a {
        color: #000; }
    .lt8 .lt8I .categorize {
      line-height: 24px;
      border-top: 1px solid #d2d2d2;
      padding: 10px 0 0 0; }
      .lt8 .lt8I .categorize b {
        display: inline-block;
        min-width: 70px;
        width: auto !important;
        width: 70px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        margin: 0 15px 0 0;
        vertical-align: middle;
        font-size: 12px;
        background-image: url(../IMAGES/BG_LABEL2_2.GIF); }
      .lt8 .lt8I .categorize span {
        font-size: 13px; }
    .lt8 .lt8I .note p {
      height: 40px;
      line-height: 20px;
      font-size: 13px;
      padding: 15px 0 0 0;
      overflow: hidden; }

.lt8I .btn7 {
  position: absolute;
  right: 25px;
  bottom: -3px; }

/* international_detail */
.tableLt1, .para1 table {
  margin-bottom: 30px; }
  .tableLt1 th, .tableLt1 td, .para1 table th, .para1 table td {
    font-size: 13px;
    padding: 10px 15px; }
  .tableLt1 th, .para1 table th {
    text-align: center;
    width: 65px;
    color: #484848;
    border-bottom: 1px solid #f3f3f3;
    border-right: 3px solid #f3f3f3;
    background: #ebebeb; }
  .tableLt1 td, .para1 table td {
    border: 1px solid #C5C5C5;
    border-top: none; }

.tableLt1 a, .para1 a {
  color: #e7350d;
  text-decoration: underline; }

.pic1 {
  text-align: center;
  margin-bottom: 30px; }

.video1 {
  margin-bottom: 30px; }

/* international_info */
.search2 {
  padding-bottom: 10px; }

.ipt2 {
  display: inline-block;
  width: 174px;
  height: 19px;
  padding: 3px 0 3px 25px;
  margin-top: 6px;
  background: url(../IMAGES/BG_IPT2.GIF) 0 0 no-repeat; }
  .ipt2 input {
    color: #9c9c9c;
    width: 160px;
    height: 19px;
    line-height: 19px;
    font-size: 13px;
    border: none;
    background: none; }
  .ipt2 input.scopeBtn {
    cursor: pointer;
    width: 30px;
    height: 17px;
    background: url(../IMAGES/ICON_SCOPE.GIF) 8px center no-repeat; }

.searchBtn {
  border: none;
  cursor: pointer;
  width: 70px;
  height: 25px;
  color: #fff;
  font-size: 12px;
  font-family: '新細明體';
  margin: 0 2px 0 0;
  background: url(../IMAGES/BG_LABEL4.PNG) 0 0 no-repeat; }

.lt9 {
  width: 1012px;
  margin: 0 auto;
  padding: 40px 0 0 0; }
  .lt9 .lt9I {
    position: relative;
    float: left;
    width: 240px;
    margin: 0 0 6px 9px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: #bbb 0 0 10px;
    -webkit-box-shadow: #bbb 0 0 10px;
    box-shadow: #bbb 0 0 10px;
    border-top: 5px solid #212121;
    background: #fff; }
    .lt9 .lt9I img {
      width: 240px; }
    .lt9 .lt9I .func {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      text-align: right;
      width: 220px;
      padding: 5px 10px 10px 10px;
      background: #000; }
    .lt9 .lt9I .shareBtn, .lt9 .lt9I .likeBtn {
      font-size: 12px;
      padding: 0 0 0 15px;
      margin-left: 20px; }
    .lt9 .lt9I .shareBtn {
      color: #fff;
      background: url(../IMAGES/ICON_SHARE.PNG) 0 center no-repeat; }
    .lt9 .lt9I .detail {
      padding: 13px; }
    .lt9 .lt9I .likeBtn {
      color: #e7350d;
      background: url(../IMAGES/ICON_HEART.PNG) 0 center no-repeat; }
    .lt9 .lt9I .title {
      font-size: 15px;
      line-height: 20px;
      font-weight: 700;
      text-shadow: 0 0 0 #000;
      padding: 0 0 5px 0;
      margin-bottom: 5px;
      border-bottom: 1px solid #d7d7d7; }
      .lt9 .lt9I .title a {
        color: #000; }
    .lt9 .lt9I .note {
      font-size: 13px;
      margin-bottom: 18px; }
    .lt9 .lt9I .source {
      font-size: 12px;
      color: #b5b5b5;
      padding-top: 10px;
      border-top: 1px solid #d7d7d7; }
      .lt9 .lt9I .source a, .lt9 .lt9I .source b {
        font-weight: 700;
        color: #ec5d3d; }
    .lt9 .lt9I .view {
      -moz-border-radius-bottomleft: 3px;
      -webkit-border-bottom-left-radius: 3px;
      border-bottom-left-radius: 3px;
      -moz-border-radius-bottomright: 3px;
      -webkit-border-bottom-right-radius: 3px;
      border-bottom-right-radius: 3px;
      color: #d7d7d7;
      padding: 10px 5px;
      background: #eee; }
    .lt9 .lt9I .viewPoint, .lt9 .lt9I .likePoint {
      display: inline-block;
      padding: 0 0 0 20px;
      margin: 0 10px;
      color: #6a6a6a; }
    .lt9 .lt9I .viewPoint {
      background: url(../IMAGES/ICON_VIEW.GIF) 0 center no-repeat; }
    .lt9 .lt9I .likePoint {
      background: url(../IMAGES/ICON_HEART2.GIF) 0 center no-repeat; }

/* other */
.frame11 {
  width: 842px;
  margin: 0 auto;
  padding-top: 11px;
  background: url(../IMAGES/BG_FRAME11T.PNG) 0 0 no-repeat; }
  .frame11 .frameB {
    width: 100%;
    padding-bottom: 11px;
    background: url(../IMAGES/BG_FRAME11B.PNG) 0 bottom no-repeat; }
  .frame11 .frameC {
    width: 100%;
    padding: 55px 0 40px 0;
    background: url(../IMAGES/BG_FRAME11C.PNG) 0 0 repeat-y; }

.title6 {
  font-size: 20px;
  font-weight: 700;
  padding: 0 70px 30px 62px; }

.lt10 {
  width: 735px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 0 0 0; }
  .lt10 .lt10I {
    float: left;
    position: relative;
    width: 345px;
    margin: 0 10px 25px 10px;
    background: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: #ddd 0 0 7px;
    -webkit-box-shadow: #ddd 0 0 7px;
    box-shadow: #ddd 0 0 7px; }
    .lt10 .lt10I .note {
      padding: 12px 0 35px 0;
      text-align: center; }
    .lt10 .lt10I b {
      display: block;
      color: #fff;
      font-size: 15px;
      line-height: 25px;
      padding: 7px 20px;
      background: #000;
      -moz-border-radius-topleft: 5px;
      -webkit-border-top-left-radius: 5px;
      border-top-left-radius: 5px;
      -moz-border-radius-topright: 5px;
      -webkit-border-top-right-radius: 5px;
      border-top-right-radius: 5px; }
    .lt10 .lt10I .pic {
      height: 150px;
      width: 200px;
      margin: 0 auto;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      -moz-box-shadow: #ddd 0 0 7px;
      -webkit-box-shadow: #ddd 0 0 7px;
      box-shadow: #ddd 0 0 7px;
      margin-bottom: 10px; }
      .lt10 .lt10I .pic img {
        width: 200px;
        height: 150px; }
    .lt10 .lt10I .link2 {
      color: #0f9596; }
    .lt10 .lt10I .btn7 {
      position: absolute;
      right: 20px;
      bottom: -10px; }
    .lt10I:hover{
      text-decoration: none;
    }

/* about */
.wrap2 {
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 1px;
  width: 730px;
  margin: 0 auto; }

.imgL, .imgR {
  width: 100%;
  overflow: hidden;
  padding: 20px 0 0 0; }

.imgL, .imgR, .para2 {
  padding-bottom: 20px; }

.imgL .frame12 {
  float: left;
  margin-top: -20px; }

.imgR .frame13 {
  float: right;
  margin-top: -20px; }

.frame12 {
  width: 264px;
  height: 194px;
  padding: 15px;
  margin-right: 20px;
  background: url(../IMAGES/BG_FRAME12.PNG) 0 0 no-repeat; }

.frame13 {
  width: 224px;
  height: 164px;
  padding: 15px;
  margin-left: 20px;
  background: url(../IMAGES/BG_FRAME13.PNG) 0 0 no-repeat; }

/* epaper */
.title7 {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 20px;
  letter-spacing: 1px; }

.frame14 {
  width: 387px;
  margin: 0 auto;
  height: 150px;
  padding: 50px 0 0 60px;
  background: url(../IMAGES/BG_FRAME14.PNG) 0 0 no-repeat; }
  .frame14 p {
    margin-bottom: 5px; }
  .frame14 .checkRow {
    padding: 10px 60px 0 0;
    text-align: center; }
    .frame14 .checkRow a {
      text-decoration: underline; }

input.ipt3, .texta1 {
  border: 1px solid #d1d1d1;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  height: 15px;
  line-height: 18px;
  padding: 6px 15px 7px 15px;
  background: #fff; }

.texta1 {
  height: auto; }

a.btn8, a.btn9 {
  display: inline-block;
  margin: 0 5px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  line-height: 30px; }
  a.btn8:hover, a.btn9:hover {
    text-decoration: none; }

.btn8 {
  display: block;
  width: 105px;
  height: 30px;
  background: url(../IMAGES/BG_BTN8.PNG) 0 0 no-repeat; }

.btn9 {
  display: block;
  width: 105px;
  height: 30px;
  background: url(../IMAGES/BG_BTN9.PNG) 0 0 no-repeat; }

.title8 {
  width: 990px;
  margin: 0 auto;
  margin: 80px auto 40px auto;
  font-size: 25px;
  line-height: 27px;
  padding: 15px 0;
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2; }
  .title8 i {
    font-size: 13px;
    font-style: normal;
    line-height: 18px;
    vertical-align: middle; }

/* video */
.title9 {
  width: 990px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px; }
  .title9 img {
    vertical-align: baseline; }

.para3 {
  width: 970px;
  margin: 0 auto;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  padding: 0 0 0 23px;
  margin-bottom: 5px;
  background: url(../IMAGES/ICON_ARW9.GIF) 5px center no-repeat; }

.yb2 {
  width: 990px;
  margin: 0 auto;
  margin-bottom: 10px; }

.lt11 {
  overflow: hidden;
  padding: 35px 0;
  width: 1010px;
  margin: 0 auto; }
  .lt11 .lt11I {
    float: left;
    position: relative;
    margin: 0 6px 10px 6px; }
    .lt11 .lt11I a {
      color: #e7350d; }
    .lt11 .lt11I b {
      position: absolute;
      right: 1px;
      top: 2px;
      display: inline-block;
      height: 24px;
      line-height: 24px;
      background: url(../IMAGES/BG_LABEL6.PNG) 0 0 no-repeat;
      z-index: 2; }
      .lt11 .lt11I b span {
        display: inline-block;
        height: 24px;
        line-height: 24px;
        min-width: 90px;
        width: auto !important;
        width: 90px;
        color: #fff;
        margin: 0 0 0 9px;
        padding: 0 10px;
        background: #000;
        text-align: center; }
    .lt11 .lt11I .pic {
      position: relative;
      width: 238px;
      height: 133px;
      border: 1px solid #e1e1e1; }
      .lt11 .lt11I .pic i {
        position: absolute;
        display: block;
        top: 1px;
        left: 1px;
        width: 238px;
        height: 133px;
        background: url(../IMAGES/BG_MASK3.PNG) center center no-repeat; }
    .lt11 .lt11I .title {
      width: 240px;
      font-size: 15px;
      font-weight: 700;
      padding: 5px 0; 
      height: 52px;
      overflow: hidden;
    }

.topVideo .yb3 {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  width: 990px;
  margin: 0 auto 30px auto; }

/* video_detail */
.videoDetail {
  position: relative;
  width: 710px;
  padding: 0 140px; }
  .videoDetail .prevPage, .videoDetail .nextPage {
    display: block;
    position: absolute;
    top: 225px;
    width: 45px;
    height: 21px;
    color: #212121;
    font-size: 13px;
    text-align: center;
    padding-top: 53px; }
  .videoDetail .prevPage {
    left: 34px;
    background: url(../IMAGES/BTN_PREVPAGE.PNG) 0 0 no-repeat; }
  .videoDetail .nextPage {
    right: 34px;
    background: url(../IMAGES/BTN_NEXTPAGE.PNG) 0 0 no-repeat; }
  .videoDetail .title {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 5px; }
  .videoDetail b {
    display: block;
    font-size: 18px;
    font-weight: 700px;
    padding-bottom: 10px; }
  .videoDetail p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px; }

.yb3 {
  width: 710px;
  margin-bottom: 35px; }

/* search */
.frame15 {
  width: 492px;
  margin: 0 auto;
  height: 80px;
  padding: 50px 0 0 55px;
  background: url(../IMAGES/BG_FRAME15.PNG) 0 0 no-repeat; }

.ipt4 {
  display: inline-block;
  width: 325px;
  height: 24px;
  padding: 3px 0 3px 30px;
  margin-right: 10px;
  background: url(../IMAGES/BG_IPT4.PNG) 0 0 no-repeat;
  vertical-align: middle; }
  .ipt4 input {
    color: #9c9c9c;
    width: 315px;
    height: 24px;
    line-height: 24px;
    font-size: 13px;
    border: none;
    background: none; }

.searchBtn2 {
  border: none;
  cursor: pointer;
  width: 75px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-size: 15px;
  font-family: '微軟正黑體';
  background: url(../IMAGES/BG_BTN10.PNG) 0 0 no-repeat; }

.lt12 {
  width: 990px;
  margin: 0 auto; }
  .lt12 .lt12I {
    display: block;
    cursor: pointer;
    line-height: 22px;
    color: #000;
    margin-bottom: 20px; }
    .lt12 .lt12I:hover {
      text-decoration: none; }
      .lt12 .lt12I:hover i {
        text-decoration: underline; }
    .lt12 .lt12I b {
      display: block;
      color: #e7350d;
      font-size: 17px; }
    .lt12 .lt12I i {
      display: block;
      color: #0f9596;
      font-style: normal;
      padding: 0 0 0 15px;
      background: url(../IMAGES/ICON_LINK.PNG) 0 center no-repeat; }
    .lt12 .lt12I span {
      display: block;
      line-height: 20px;
      letter-spacing: 1px; }

.frame16 {
  width: 397px;
  height: 416px;
  margin: 0 auto;
  padding: 35px 75px;
  background: url(../IMAGES/BG_FRAME16.PNG) 0 0 no-repeat; }
  .frame16 th, .frame16 td {
    padding: 5px 0;
    line-height: 30px; }
  .frame16 th {
    vertical-align: top;
    width: 110px;
    padding-right: 10px;
    text-align: right; }
  .frame16 i {
    font-size: 14px;
    color: #e7350d;
    font-style: normal; }
  .frame16 .code input, .frame16 .code img {
    vertical-align: middle; }
  .frame16 .checkRow {
    text-align: center; }
    .frame16 .checkRow input {
      vertical-align: middle; }

.ggSearch {
  width: 990px;
  margin: 0 auto; }
  .ggSearch .gs-title,
  .ggSearch .gs-webResult.gs-result a.gs-title:visited,
  .ggSearch .gs-imageResult a.gs-title:visited,
  .ggSearch .gs-webResult.gs-result a.gs-title:link,
  .ggSearch .gs-imageResult a.gs-title:link {
    display: block;
    color: #e7350d;
    font-size: 17px;
    font-family: '微軟正黑體';
    font-weight: 700; }
  .ggSearch .gs-webResult.gs-result a.gs-title:visited b, .ggSearch .gs-imageResult a.gs-title:visited b, .ggSearch .gs-webResult.gs-result a.gs-title:link b,
  .ggSearch .gs-imageResult a.gs-title:link b {
    display: inline;
    color: #0f9596;
    font-size: 17px;
    font-family: '微軟正黑體';
    font-weight: 700; }
  .ggSearch .gs-bidi-start-align {
    font-family: '微軟正黑體'; }
  .ggSearch .gs-result .gs-title, .ggSearch .gs-result .gs-title * {
    text-decoration: none; }
  .ggSearch .gs-visibleUrl {
    display: block;
    color: #0f9596;
    font-style: normal;
    padding: 0 0 0 15px;
    background: url(../IMAGES/ICON_LINK.PNG) 0 center no-repeat; }
  .ggSearch .gs-visibleUrl, .ggSearch .gs-webResult div.gs-visibleUrl, .ggSearch .gs-imageResult div.gs-visibleUrl {
    color: #0f9596;
    line-height: 23px; }
  .ggSearch .gs-snippet {
    display: block;
    line-height: 20px;
    letter-spacing: 1px; }
  .ggSearch .gsc-table-result {
    margin-bottom: 20px; }
    .ggSearch .gsc-table-result .gs-title {
      display: none; }
  .ggSearch .gsc-results {
    width: 100%; }
  .ggSearch .gcsc-branding {
    padding: 5px 0 0 0; }
  .ggSearch .gsc-webResult .gsc-result {
    padding: 0; }
  .ggSearch .cse .gsc-control-cse, .ggSearch .gsc-control-cse {
    padding: 0;
    border: none;
    background: none; }
  .ggSearch .gsc-table-result, .ggSearch .gsc-thumbnail-inside, .ggSearch .gsc-url-top {
    padding: 0;
    background: none; }
  .ggSearch .gsc-webResult.gsc-result:hover, .ggSearch .gsc-imageResult:hover,
  .ggSearch .gsc-webResult.gsc-result, .ggSearch .gsc-results .gsc-imageResult {
    background: none;
    border: none; }
  .ggSearch .gs-title:hover {
    text-decoration: underline; }
  .ggSearch .gsc-result-info {
    font-size: 25px;
    line-height: 27px;
    padding: 15px 0;
    font-family: '微軟正黑體'; }
  .ggSearch .gsc-above-wrapper-area {
    padding: 0;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2; }
  .ggSearch .gsc-results .gsc-cursor-box .gsc-cursor-page {
    min-width: 20px;
    width: auto !important;
    width: 20px;
    font-weight: 700;
    vertical-align: middle;
    display: inline-block;
    font-size: 12px;
    color: #484848;
    background: #fff;
    border: 1px solid #dadada;
    padding: 5px; }
  .ggSearch .gsc-results .gsc-cursor-box .gsc-cursor-current-page {
    background-color: #e7350d;
    color: #fff; }
  .ggSearch .gsc-results .gsc-cursor-box .gsc-cursor-page:hover {
    text-decoration: none; }
  .ggSearch .gsc-results .gsc-cursor-box {
    text-align: center; }

/* privacy*/
.lt13 {
  width: 710px;
  margin: 0 auto; }
  .lt13 .lt13I {
    padding: 0 0 0 15px;
    font-size: 14px;
    margin-bottom: 30px;
    line-height: 25px; }
    .lt13 .lt13I .title {
      text-indent: -15px;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: #2e9c9d;
      text-shadow: 0 0 0 #2e9c9d;
      padding-bottom: 10px; }
    .lt13 .lt13I li {
      text-indent: -28px;
      padding: 0 0 0 28px;
      margin-bottom: 10px; }
      .lt13 .lt13I li li {
        margin-bottom: 0; }

/* cms */
.wrap3 {
  width: 710px;
  margin: 0 auto; }

/* sitemap */
.sitemap {
  width: 990px;
  margin: 0 auto;
  overflow: hidden; }

.para4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px; }

.title10 {
  font-weight: 700;
  color: #0f9596;
  font-size: 16px;
  padding: 27px 0; }

.lt14 li {
  font-weight: 700;
  font-size: 14px;
  padding: 0 0 20px 0;
  color: #7f7f7f; }
  .lt14 li b {
    color: #ec5e08; }
  .lt14 li img {
    vertical-align: middle;
    margin-right: 15px; }

.lt15 {
  width: 106%;
  padding: 60px 0;
  border-top: 1px solid #d5d5d5;
  overflow: hidden; }
  .lt15 .lt15I {
    float: left;
    margin: 0 20px 40px 0;
    width: 265px;
    min-height: 210px;
    height: auto !important;
    height: 210px;
    padding: 25px;
    border-top: 9px solid #000;
    background: #fff;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    -moz-box-shadow: #ccc 0 0 10px;
    -webkit-box-shadow: #ccc 0 0 10px;
    box-shadow: #ccc 0 0 10px; }
    .lt15 .lt15I b {
      display: block;
      padding: 3px 0 10px 0;
      margin-bottom: 25px;
      background: url(../IMAGES/DEC_HOR7.GIF) 0 bottom repeat-x; }
      .lt15 .lt15I b a {
        color: #0f9596;
        font-size: 20px;
        line-height: 22px;
        background: none;
        padding: none; }
    .lt15 .lt15I a {
      display: block;
      font-size: 16px;
      font-weight: 700;
      color: #404040;
      padding: 0 0 0 10px;
      margin-bottom: 15px;
      text-decoration: none;
      background: url(../IMAGES/ICON_ARW10.GIF) 0 center no-repeat; }
      .lt15 .lt15I a:hover {
        text-decoration: underline; }

#pagemain {
  position: absolute;
  left: 0;
  top: 105px; }

.frame18 {
  font-size: 14px;
  margin: 0 auto 23px auto;
  width: 718px;
  background: url(../IMAGES/BG_FRAME18C.GIF) 0 0 repeat-y; }
  .frame18 .bgT {
    padding-top: 35px;
    width: 100%;
    background: url(../IMAGES/BG_FRAME18T.GIF) 0 0 no-repeat; }
  .frame18 .bgB {
    width: 100%;
    padding-bottom: 42px;
    background: url(../IMAGES/BG_FRAME18B.GIF) 0 bottom no-repeat; }
  .frame18 .frameL {
    float: left;
    width: 275px;
    margin: 0 15px 0 0;
    text-align: center; }
    .frame18 .frameL .pic {
      position: relative;
      height: 202px;
      width: 203px;
      margin: 0 auto; }
      .frame18 .frameL .pic i {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: url(../IMAGES/BG_MASK4.PNG) 0 0 no-repeat;
        z-index: 2; }
      .frame18 .frameL .pic img {
        height: 100%;
        width: 100%;
        border: none;
        box-shadow: none;
        margin: 0; }
    .frame18 .frameL b {
      display: block;
      font-size: 20px;
      line-height: 20px;
      font-weight: 700;
      color: #0f9596;
      padding: 10px 0 0 0; }
  .frame18 .frameR {
    float: left;
    width: 390px;
    line-height: 30px; }
    .frame18 .frameR ul {
      padding: 0;
      list-style-type: none; }
    .frame18 .frameR li {
      padding: 0 0 0 20px;
      background: url(../IMAGES/ICON_DOT2.GIF) 0 11px no-repeat; }
    .frame18 .frameR b {
      color: #0f9596; }
    .frame18 .frameR a {
      color: #f23219; }

.yb3 {
  position: relative;
  padding-bottom: 35px;
  margin-bottom: 0; }
  .yb3 .linkOut {
    position: absolute;
    right: 0;
    bottom: 0; }

.linkOut a {
  display: block;
  color: #e7350d;
  font-size: 13px;
  padding: 10px 0 10px 20px;
  word-break: break-all;
  word-wrap: break-word;
  background: transparent url(../IMAGES/ICON_ARW8.GIF) 0 center no-repeat; }

/*# sourceMappingURL=layout.css.map */

/* 英文版 */
.sn1-1, .sn1-2, .sn1-3, .sn1-4, .sn2-1, .sn2-2, .sn2-4, .sn3-1, .sn3-2, .sn3-4, .sn4-1, .sn4-2, .sn4-4, .sn5-1, .sn5-2, .sn5-3, .sn5-4 {
  opacity: 1;
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px); }
.sn2-3, .sn2-5, .sn3-3, .sn3-5, .sn4-3, .sn4-5 {
  opacity: 1;
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px); }

.nav a {
  max-width:80px;
  font-size: 13px;
  height: 35px;
  line-height: 17px;
  font-weight: 700;
  padding: 16px 15px 16px 34px;
  vertical-align: middle;
}
.nav a span{
  max-width: 79px;
  display: inline-block;
  vertical-align: middle;
}
.nav a:before{
  display: inline-block;
  content: '';
  width: 1px;
  height: 35px;
  vertical-align: middle;
}
.subnav a{
  max-width:inherit;
  padding: 10px 15px;
  height: auto;
}
.subnav a:before{
  display: none;
}
.nav a.twoRow{
  padding-top: 16px;
  padding-bottom: 28px;
}
a.basenavI5{
  display: inline-block;
  width: 25px;
  height: 21px;
  border-radius:2px;
  background-color: #765d4d;
  color:#cacaca;
  padding:0;
  line-height: 21px;
  text-align: center;
  margin-top: 7px;
}
a.basenavI5:hover{
  text-decoration: none;
}
.title2 {
  font-size: 18px;
  line-height: 18px;}
.title3 {
  font-size: 18px;}
.sn1-1, .sn1-2, .sn1-3, .sn1-4, .sn2-1, .sn2-2, .sn2-4, .sn3-1, .sn3-2, .sn3-4, .sn4-1, .sn4-2, .sn4-4, .sn5-1, .sn5-2, .sn5-3, .sn5-4 {
  opacity: 1;}
.sn2-3, .sn2-5, .sn3-3, .sn3-5, .sn4-3, .sn4-5 {
  opacity: 1;}
.sn1-1-1,.sn1-1-2,.sn2-1,.sn3-1,.sn4-1-1,.sn4-1-2{
  letter-spacing:-2px;
  font-weight: 300;}
.sn1-2,.sn2-3,.sn2-2,.sn3-2,.sn4-2-1,.sn4-2-2,.sn5-1{
  letter-spacing:-0.5px;
  font-weight: 300;}
.sn1-1-1 {
  left: -83px;
  top: -278px;
  width: 500px;}
.sn1-1-2 {
  left: 28px;
  top: -234px;
  width: 300px; }
.sn1-2 {
  left: -5px;
  top: -177px;
  width: 420px; }
.sn1-3 {
  left: 245px;
  top: -94px;
  width: 160px;
  color: #00494a;}
.sn1-4 {
  left: -42px;
  top: -85px;}
.sn2 {
  height: 420px;}
.sn3 {
  height: 420px;}
.sn4 {
  height: 480px;}
.sn5 {
  height: 395px;}
.sn2-1 {
  left: -15px;
  top: -170px;
  width: 470px;
  line-height: 45px; }
.sn2-2 {
  left: 35px;
  top: -65px;
  width: 400px; }
.sn2-4 {
  left: -247px;
  top: -20px; }
.sn3-1 {
  left: -440px;
  top: -135px;
  width: 850px; }
.sn3-2 {
  left: -330px;
  top: -80px;
  width: 650px; }
.sn3-3 {
  left: -100px;
  top: 27px;
  width: 350px;
  color: #892a00; }
.sn3-4 {
  left: -85px;
  top: -20px; }
.sn4-1-1 {
  left: -415px;
  top: -210px;
  width: 680px;}
.sn4-1-2 {
  left: -415px;
  top: -165px;
  width: 800px;
  font-size: 32px;}
.sn4-2-1 {
  left: -415px;
  top: -75px;
  width: 800px; }
.sn4-2-2 {
  left: -415px;
  top: -55px;
  width: 800px; }
.sn4-4 {
  left: -345px;
  top: 0px; }
.sn5-1 {
    width: 700px;
    left: -450px;
    top: -140px;
    color: #fff;
    font-size: 19px;
    line-height: 20px;}
.sn5-2 {
    position: absolute;
    left: -170px;
    top: 70px;
    width: 330px;  }
.sn6{
  background-image: url(../IMAGES/BG_LINE2_5.JPG);
}
.btn5 {
    width: 80px;
    padding: 0 10px;
    font-size: 13px;
}
.btn5 img{
    margin: -2px 0 0 5px;
}
.footer li.footerAdd{
  margin: 0;
}
.footerWarn{
  position: absolute;
  right: -15px;
  top: 38px;
  font-size: 11px;
  line-height: 18px;
  color:#7B7B7B;
  -moz-transform: scale(0.85, 0.85);
  -ms-transform: scale(0.85, 0.85);
  -webkit-transform: scale(0.85, 0.85);
  transform: scale(0.85, 0.85);
}
.lt5 b{
  font-size: 13px;
}
.frame16{
  width: 474px;
  height: 416px;
  padding: 35px 35px;
}
.lt14 li,.lt14 li b,.lt14 li span,.lt14 li img{
  vertical-align: middle;
}
.lt14 li b{
  display: inline-block;
}
.lt14 li span{
  display: inline-block;
  width: 723px;
}
.lt6 i{
  width: 100px;
}
.lt6 p{
  width: 470px;
}
.lt8 .lt8I b a:hover{
  color: #ff5a00;
  text-decoration: none;
}